.circuit-login-block{
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin: auto;
  min-width: 350px;
  min-height: 450px;
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 35%;
  right: 35%;*/
}
.modal-wrapper{
  /*flex-grow: 1;*/
  /*align-self: flex-start;*/
  max-width: 39%;
  min-width: 350px;
  max-height: 40%;
  min-width: 450px;
}
.input-auth-form{
  display: flex;
  flex-direction: column;
  padding: 6px;
}
