.circuit-login-block{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.modal-wrapper{
  min-height: 500px;
  min-width: 450px;
  width: 80%;
  height: 90%;
}
.input-auth-form{
  display: flex;
  flex-direction: column;
  padding: 6px;
}
.background-tips{
  background-image: url("../../../assets/images/sign-up/building-img1.jpg");
  background-size: cover;
}

.background-tips-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

::ng-deep .mat-icon {
  font-size: 24px;
}
