<div class="circuit-login-block">
  <div matLine>
    <h1>Logi sisse</h1>
  </div>
  <div class="container" matLine>
    <div class="row">
      <div class="col">
        <button mat-icon-button color="accent">
          <mat-icon svgIcon="facebook"></mat-icon>
          Läbi Facebooki
        </button>
      </div>
      <div class="col">
        <button mat-icon-button color="red">
          <mat-icon svgIcon="google"></mat-icon>
          Läbi Google
        </button>
      </div>
    </div>
    <p>või</p>
  </div>
  <div class="mat-app-background">
    <div class="input-auth-form">
      <mat-form-field>
        <mat-icon>mail_outline</mat-icon>
        <input matInput placeholder="Sisesta e-mail" value="E-mail">
      </mat-form-field>
      <mat-form-field>
        <mat-icon>lock</mat-icon>
        <input matInput placeholder="Sisesta salasõna" value="Salasõna">
      </mat-form-field>
      <div>
        <mat-checkbox>Jäta mind meelde</mat-checkbox>
        <a href="#">Unustasid salasõna?</a>
      </div>
    </div>
  </div>
  <div>
    <button mat-button color="accent">Logi sisse</button>
  </div>
</div>
